/* Copyright © 2014, 2017 Luke Shumaker <lukeshu@sbcglobal.net>
 * This work is free. You can redistribute it and/or modify it under the
 * terms of the Do What The Fuck You Want To Public License, Version 2,
 * as published by Sam Hocevar. See the ./COPYING file for more details.
 */

@import url('https://www.parabola.nu/static/archweb.css');

/* generic */

td {
	font: 1.2em monospace;
	height: 24px;
	vertical-align: middle;
	padding-left: 4px;
}

td.number {
	text-align: right;
}

tr:hover {
	box-shadow: inset 0 0 0 1px #bcd;
}

/* Make room for a 16x16 icon on the left, with 4px padding on either
 * side */
tr td:first-of-type {
	padding-left: 24px;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: 4px 4px;
	margin-left: 20px;
}

/* generic inode information ---------------------------------------- */
tr.hidden { /*opacity: 0.5;*/ display: none; }
tr.dir a::after { content: "/"; }
tr.dir          td:first-of-type { background-image: url("dir.png"); }
tr.dir.parent   td:first-of-type { background-image: url("parent.png"); }
tr.link         td:first-of-type { background-image: url("link.png"); }
tr.file         td:first-of-type { background-image: url("file.png"); }
/* domain-specific information -------------------------------------- */
tr.dir.repo     td:first-of-type { background-image: url("repo.png"); }
tr.packages  td { background-color:#7fc3e5; }
tr.community td { background-color:#7fc3e5; } /* TODO: differentiate this from 'packages' somehow */
tr.parabola  td { background-color:#9fa6e3; }
tr.alarm     td { background-color:#a5d7eb; }
/* file extension information --------------------------------------- */
tr.file.pkg.tar td:first-of-type { background-image: url("pkg.png"); }
tr.file.iso     td:first-of-type { background-image: url("iso.png"); }
tr.file.tar     td:first-of-type { background-image: url("tar.png"); }
tr.file.txt     td:first-of-type { background-image: url("txt.png"); }
tr.file.torrent td:first-of-type { background-image: url("torrent.png"); }
